.languages {
	margin: 0 var(--original-gap) 0 0;
	padding: 0;
	display: flex;
	align-items: baseline;
	list-style-type: none;
}

.language_item {
	padding-left: 5px;
	padding-right: 5px;
	display: flex;
	border-left: 1px solid orangered;
}
.language_item:first-child {
	border-left: 1px solid transparent;
}

.language {
	padding: 0;
  font-size: var(--r16);
	color: orangered;
	border: none;
	background: none;
	cursor: pointer;
}

.language_selected {
	font-weight: 900;
}
