.nav {
	display: none;
	right: 0;
	top: 100%;
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	padding: var(--original-gap);
	background-color: var(--color-dark);
	text-align: end;
	font-size: var(--r44);
	font-weight: bold;
}

.nav_displayed {
	display: block;
}

.menu {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.menu__item {
	margin-bottom: 16px;
}

.nav_link {
	color: white;
}
.nav_link_active {
	color: var(--color-active);
}
