.heading {
	margin: 0;
	font-size: var(--r20);
}

.content {
	margin-left: auto;
	margin-right: auto;
	row-gap: var(--original-gap);
	max-width: 600px;
	flex: 1;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact__type {
	display: flex;
	justify-content: center;
}

.slogan {
	text-align: center;
}
